/* CONTAINER */

.container_general_oferta {
  width: 70vw;
  margin: auto;

}

.container_oferta_ind {
  margin: 20px;
  background-color: var(--light-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.281);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 100px;
}

.container_oferta_ind h1 {
  text-align: center;

}

.cuerpo_oferta {
  display: flex;
  margin: 15px;
}

.columna_izq_oferta {
  width: 30%;
  list-style: none;
}
.columna_der_oferta {
  width: 70%;
}


/* BUTTONS */
.button_container {
display:flex;
justify-content: center;
}
.back_btn,
a {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--accent-color);
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}
.back_btn img {
  width: 30px;
}
.back_btn:hover a:hover,
img:hover {
  color: var(--dark-color);
}

.contact_btn {
  background-color: 0.397cc1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: var(--background-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--accent-color);
}
.contact_btn:hover {
  background-color: var(--dark-color);
}
