/* FOOTER */

footer {
  display: flex;
  width: 100%;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 12px;
  align-self: flex-end;
}

.autores ul {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 0px 20px;
  list-style: none;
}
